body {
  background-image: url(background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.aligner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:12px;
}

.main-title {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(to right, #ffa17f, #052b30, #e27629, #00223e);
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 5s linear infinite;
}
@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
.container {
  width: 450px;
  max-width: 800px;
  height: 450px;
  background-color: rgba(240, 248, 255, 0.663);
  display: grid;
}
.input-number-container {
  width: 100%;
  max-width: 425px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  margin-bottom: 5px;
}
.invalid-number{color:#afe5f5 ;}

.select-but {
  border-radius: 12px;
  width: 120px;
  max-height: 35px;
  box-shadow: 0px 10px 14px -7px #c2678d;
	background-color:#1d3140;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
    color:#f78383;
    font-family:Arial;
    font-weight:bold;
	text-decoration:none;
  margin-top: 22px;
  margin-right: 5px;
	
}
.text-num{
  width: 300px;
  max-height: 35px;
  font-family: "Montserrat", serif;
  font-size: 15px;
  margin-left: 10px;
  color: rgb(214, 224, 229);
}
.buttons-container{margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
                   
}

.buttons-container button:hover{background:linear-gradient(to bottom, #7f979c 5%, #84efb8 100%);
	background-color:#408c99;}

    .buttons-container button:focus{transform: scale(0.9);}

.black-but{box-shadow: 0px 1px 12px 2px #abadb4;
	background:linear-gradient(to bottom, #212122 5%, #a4a5a6 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;}

    .random-but{box-shadow: 0px 1px 12px 2px #779bfc;
        background:linear-gradient(to bottom, #4d92b0 5%, #396396 100%);
        background-color:#4d92b0;
        border-radius:10px;
        border:1px solid #4ebab8;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:19px;
        padding:12px 37px;
        text-decoration:none;
        text-shadow:0px 1px 0px #283966;
    }

    .erase-but{box-shadow: 0px 1px 12px 3px #f09ea2;
        background:linear-gradient(to bottom, #f55d5d 5%, #9c467b 100%);
        background-color:#f55d5d;
        border-radius:10px;
        border:1px solid #6da2c7;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:19px;
        font-weight:bold;
        padding:12px 37px;
        text-decoration:none;
        text-shadow:0px 1px 0px #294d66;}
